.main_cont{
    background-color: #4b7e7f;
    height:100vh;
    background-image: url('../../assets/images/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height:100vh ;width:100vw;
    .top-cont{
        background-color: aliceblue;
        padding:10px 0px;
    }
    .points-cont{
        .points{
            font-family: 'Roboto-Cond-Bold';
            margin:0px;
            color:#757575;
            font-size: 1rem;
            @media(max-width:320px){
                font-size: 0.8rem;
            }
            span{
                color:#000000;
            }
        }
    }
    .lives-cont{
        display: flex;
        align-items: center;
        justify-content: center;
        .lives{
            margin-right: 5px;
            font-size: 1rem;
            @media(max-width: 320px){
                font-size: 0.8rem;
            }
        }
    }
    .play-cont{
        // border:1px solid red;
        height: 90vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media(max-width:375px){
            height:80vh;
        }
        .animal-name{
            font-family: 'Baloo Da 2', cursive;
            font-weight: 800;
            color:darkslategrey;
            font-size: 4.5rem;
            transition: transform 0.2s ease-out;
            animation-fill-mode: forwards;
            @media(max-width:375px){
                font-size: 4rem;
            }
        }
        .up{
            animation:flyUpaxis 0.2s ease-out;
            animation-fill-mode: forwards;
        }
        .down{
            animation: flyDownAxis 0.2s ease-out;
            animation-fill-mode: forwards;
        }
       
        .correct{
            color:#76ff03;
        }
        .wrong{
            color:#e53935;
        }
        .gameOver{
            .game-over-txt, .point{
                @extend .animal-name;
                text-align: center;
                font-size: 3rem;
            }
            .point{
                font-size: 2rem;
                color:darkgoldenrod;
            }
        }
    }
    @keyframes flySideAxis {
            100%{
                animation-timing-function: ease-in;
                transform: translateX(50px);
            }
    }
    @keyframes flyUpaxis {
        100%{
            animation-timing-function: ease-out;
            transform: translate(0px,-200px);
        }
    }
    @keyframes flyDownAxis {
        100%{
            animation-timing-function: ease-out;
            transform: translate(0px,200px);
        }
    }
}