/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Alberto';
    font-style: normal;
    src: url('./assets/font/Alberto-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Roboto-Slab-Reg';
    font-style: normal;
    src: url('./assets/font/RobotoSlab-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Roboto-Cond-Light';
    font-style: normal;
    src: url(./assets/font/Roboto_Condensed/RobotoCondensed-Light.ttf);
  }
  @font-face {
    font-family: 'Roboto-Cond-Bold';
    font-style: normal;
    src: url(./assets/font/Roboto_Condensed/RobotoCondensed-Bold.ttf);
  }
  @font-face {
    font-family: 'Roboto-Cond-Regular';
    font-style: normal;
    src: url(./assets/font/Roboto_Condensed/RobotoCondensed-Regular.ttf);
  }

